- 데이터 전처리, 종결어미 전환을 거쳤습니다.
- 총 266616개의 데이터입니다.
    - 훈련 데이터(train) : (184764, 3)
    - 검증 데이터(validation) : (79185, 3)
    - 테스트 데이터(test) : (2667, 3)

In [1]:
%%time

import os
import csv
import pandas as pd

file_name = os.getenv('HOME')+'/aiffel/aeumgil/AIhub/data/aihub_convert.csv'
df = pd.read_csv(file_name)

CPU times: user 12.3 s, sys: 1.36 s, total: 13.6 s
Wall time: 13.2 s

In [2]:
df.head()

,title,original_text,converted_ext,converted_abs,size,char_count,sum_char_cnt,ext_char_cnt,readable,accurate,informative,trustworthy,media_sub_type
0,"논 타작물 재배, 2월 말까지 신청하세요",전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 시행하는 쌀 생산조정제를...,전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 시행하는 쌀 생산조정제를...,전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 벼를 심었던 논에 벼 대...,small,927,155,190,4,3,3,3,지역지
1,"여수시, 컬러빌리지 마무리...‘색채와 빛’도시 완성",여수시는 원도심 일대에서 추진된 컬러빌리지 사업을 지난해 말 마무리하며 색채와 빛의...,여수시는 원도심 일대에서 추진된 컬러빌리지 사업을 지난해 말 마무리하며 색채와 빛의...,여수시는 컬러빌리지 사업에 8억원을 투입하여 색채와 빛 도시를 완성하여 고소천사벽화...,small,764,118,182,4,4,5,4,지역지
2,“새해 정기 받고 올해는 반드시 일내자!”,전남드래곤즈(사장 신승재)는 지난 4일 구봉산 해맞이 행사를 통해 새해 각오를 다졌...,임직원과 선수단 모두는 이날 구봉산 정상에 올라 일출을 보며 2018년 구단 목표를...,전남드래곤즈 임직원과 선수단이 4일 구봉산 정상에 올라 일출을 보며 2018년 구단...,medium,1066,68,216,4,4,4,4,지역지
3,"농업인 역량 강화, 새해 실용교육 실시",광양시는 오는 11일부터 24일까지 농업인교육관과 읍면동 회의실에서 농업인 1050...,광양시는 오는 11일부터 24일까지 농업인교육관과 읍면동 회의실에서 농업인 1050...,"광양시는 농업인들의 경쟁력을 높이고, 소득안정을 위해 매실·감·참다래 등 지역특화작...",small,746,68,211,4,4,5,4,지역지
4,타이완 크루즈관광객 4천여명‘전남’온다,타이완의 크루즈관광객 4000여명이 올해 두 차례에 걸쳐 여수에 입항한다. 전라남도...,전라남도는 올해 4월과 6월 홍콩 크루즈선사 스타크루즈의 5만톤급 아쿠아리우스 호가...,올해 4월과 6월 두 차례에 걸쳐 타이완의 크루즈 관광객 4000여명이 여수에 입항...,small,978,66,257,4,4,4,4,지역지

In [3]:
df.rename(columns={'original_text':'original','converted_ext':'ext', 'converted_abs':'abs'}, inplace=True)
df.columns

Index(['title', 'original', 'ext', 'abs', 'size', 'char_count', 'sum_char_cnt',
       'ext_char_cnt', 'readable', 'accurate', 'informative', 'trustworthy',
       'media_sub_type'],
      dtype='object')

In [4]:
from sklearn.model_selection import train_test_split
data = df[['original','abs','ext']]

In [5]:
#- 26만 6천여개
data.shape

(266616, 3)

In [6]:
train, test = train_test_split(data, test_size=0.01)
train, val = train_test_split(train, test_size=0.3)

In [7]:
print(train.shape)
print(val.shape)
print(test.shape)

(184764, 3)
(79185, 3)
(2667, 3)

In [8]:
train.to_csv('train_v2.csv',index=False)
val.to_csv('val_v2.csv',index=False)
test.to_csv('test_v2.csv',index=False)